<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Impact</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: url('nav.png') no-repeat center center fixed;
      background-size: cover;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .impact-container {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px 40px;
      border-radius: 100px;
      text-align: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

    p {
      font-size: 36px;
      margin-bottom: 32px;
      color: #ffffff;
      font-weight: bold;
    }

    .highlight {
      font-weight: bold;
      color: #FFD700;
    }
  </style>
</head>
<body>
  <div class="impact-container">
    <p><span class="highlight"><%= totalFood %></span> meals given so far...</p>
  </div>
</body>
</html>
